testscene/zinkia*
mscene/zinkia*
screenshot*
traces/*.pdf
*.o
micropolis_*
generated/*
.sconsign.dblite
reyes.trace
reyes.statistics
statistics.dump
AMDOpenCLDebugAPIUsage.log
__pycache__
debug/
release/
benchmarks/
*.blend1
*.blend2
*.blend3
measurements/