<!-- 
     This file is part of Micropolis.
  
     Micropolis is free software: you can redistribute it and/or modify
     it under the terms of the GNU General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     Micropolis is distributed in the hope that it will be useful,
     but WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
     GNU General Public License for more details.

     You should have received a copy of the GNU General Public License
     along with Micropolis.  If not, see <http://www.gnu.org/licenses/>.
-->

<config name="Config">
  <include>
    #include "common.h"
  </include>

  <enums>
    <enum name="TransferBufferMode">
      <element name="UNPINNED"/>
      <element name="PINNED"/>
    </enum>
    
    <enum name="RendererType">
      <element name="OPENCL"/>
      <element name="GLTESS"/>
    </enum>

    <enum name="ShadingMode">
      <element name="SMOOTH"/>
      <element name="FLAT"/>
    </enum>

    <enum name="BoundNSplitMethod">
      <element name="CPU"/>
      <element name="MULTIPASS"/>
      <element name="LOCAL"/>
      <element name="PASSTHRU"/>
      <element name="BREADTHFIRST"/>
    </enum>
  </enums>

  <values>
    
    <!-- Window properties -->
    <value name="window_size" type="ivec2" default="800 600">
      Size of the window in pixels.
    </value>
    
    <value name="window_title" type="string" default="MICROPOLIS">
      Application window title.
    </value>
    
    <!-- Reyes renderer properties -->
    <value name="input_file" type="string" default="mscene/teapot.mscene">
      Patch data input file.
    </value>
    
    <value name="clear_color" type="vec4" default="0.1 0.2 1.0 0.0">
      Clear color for framebuffer.
    </value>

    <value name="reyes_patch_size" type="size_t" default="128">
      Size used for bounding and dicing.
    </value>

    <value name="bound_n_split_limit" type="float" default="100">
      Maximum size for patches before they can be sent to the dicing stage.
    </value>

    <value name="cull_ribbon" type="float" default="32">
      The number of pixels a surface can be outside of the viewport without being culled.
    </value>

    <value name="renderer_type" type="RendererType" default="OPENCL">
      Defines which renderer implementation to use.
      Either OPENCL or GLTESS.
    </value>

    <value name="shading_mode" type="ShadingMode" default="FLAT">
      Defines how micropolygons are shaded.
      Either SMOOTH or FLAT. Only affects GLTESS renderer atm.
    </value>

    <value name="backface_culling" type="bool" default="true">
      Controls backface-culling.
    </value>
    
    <value name="bound_n_split_method" type="BoundNSplitMethod" default="LOCAL">
      Method used to implement Bound&amp;Split. Either CPU, MULTIPASS, LOCAL, PASSTHRU, BREADTHFIRST.
    </value>
    
    <value name="bound_sample_rate" type="int" default="3">
      Number of samples per side for doing calculating patch range bound.
    </value>

    <value name="max_split_depth" type="size_t" default="20">
      Maximum number of times a surface patch can be split.
    </value>
    
    <value name="reyes_patches_per_pass" type="size_t" default="64">
      Number of patches that get cached and are submitted as a 
      single rendering pass together.
    </value>

    <!-- CL Renderer properties -->
    <value name="framebuffer_tile_size" type="int" default="8">
      Framebuffer tile size.
    </value>
    
    <value name="subpixel_bits" type="size_t" default="8">
      Number of sub-one bits for fixed precision pixel coordinates.
    </value>    

    <value name="dice_group_width" type="size_t" default="32">
      Width of the work-group for the dicing kernel.
    </value>

    <value name="bns_pipeline_length" type="int" default="3">
      Number of patch buffers used for transferring patch data to device.
    </value>

    <value name="local_bns_work_groups" type="size_t" default="32">
      Number of work groups for local bound n split operation.
    </value>


    <!-- OpenGL properties -->
    <value name="fsaa_samples" type="int" default="0">
      Number of anti-aliasing samples. (0 means no AA)
    </value>

    <value name="shader_dir" type="string" default="shaders">
      Search directory for GLSL shader files.
    </value>

    <value name="max_anisotropy" type="float" default="1.0">
      Maximum anisotropy for texture filtering.
    </value>
    
    <!-- OpenCL properties -->
    <value name="kernel_dir" type="string" default="kernels">
      Search directory for OpenCL kernels.
    </value>

    <value name="opencl_device_id" type="ivec2" default="0 0">
      Pair of integers defining the platform and device id of the OpenCL device that shall be used.
    </value>
    
    <value name="disable_buffer_sharing" type="bool" default="true">
      Force slow path for OpenCL/OpenGL buffer sharing.
    </value>

    <value name="do_event_polling" type="bool" default="true">
      Controls how we wait for OpenCL events. Polling is slightly faster but uses more CPU cycles.
    </value>
    
    <value name="transfer_buffer_mode" type="TransferBufferMode" default="PINNED">
      Allocation method of host/device transfer buffers. Either PINNED or UNPINNED.
      PINNED should be a lot faster.
    </value>
    
    <value name="dump_kernel_files" type="bool" default="false">
      Will dump the concatenated OpenCL kernel files into /tmp/ for debugging purposes.
    </value>
    
    <value name="trace_file" type="string" default="reyes.trace">
      Target file for writing OpenCL trace to.
    </value>

    <value name="statistics_file" type="string" default="reyes.statistics">
      Target file for writing program stats to.
    </value>

    <!-- Debug properties -->      
    <value name="dump_mode" type="bool" default="false">
      Enables dump mode.
      The renderer will dump a trace, statistics and the currenct config after a certain number of frames and exit.
    </value>

    <value name="dump_after" type="long long" default="10">
      Controls after which frame the application dumps a trace and exits in trace dump mode.
    </value>

    <value name="dump_count" type="long long" default="3">
      Number of frame dumps to perform per invocation.
    </value>
    
    <value name="verbosity_level" type="int" default="1">
      0...(Almost) no output
      1...Regular performance information and warnings posted
      2...Lots of information posted, can be detrimental to render performance
    </value>

    <value name="dummy_render" type="bool" default="false">
      If set to true, the patches are split but not diced and rasterized.
    </value>

    <value name="displacement" type="bool" default="false">
      Small hack to showcase displacement.
    </value>
    
  </values>

  <global name="config"/>

</config>
