<config name="Config">
  <include>
    #include "common.h"
  </include>

  <enums>
    <enum name="PatchBufferMode">
      <element name="UNPINNED"/>
      <element name="PINNED"/>
    </enum>
  </enums>

  <values>
    <value name="window_size" type="ivec2" default="800 600">
      Size of the window in pixels.
    </value>

    <value name="window_title" type="string" default="MICROPOLIS">
      Application window title.
    </value>

    <value name="framebuffer_tile_size" type="int" default="8">
      Framebuffer tile size.
    </value>

    <value name="shader_dir" type="string" default="shaders">
      Search directory for GLSL shader files.
    </value>

    <value name="kernel_dir" type="string" default="kernels">
      Search directory for OpenCL kernels.
    </value>

    <value name="max_anisotropy" type="float" default="1.0">
      Maximum anisotropy for texture filtering.
    </value>

    <value name="platform_id" type="int" default="0">
      OpenCL platform ID.
    </value>

    <value name="device_id" type="int" default="0">
      OpenCL device ID.
    </value>

    <value name="verbose" type="bool" default="false">
      Print more information.
    </value>

    <value name="disable_buffer_sharing" type="bool" default="true">
      Force slow path for OpenCL/OpenGL buffer sharing.
    </value>

    <value name="reyes_patch_size" type="size_t" default="128">
      Size used for bounding and dicing.
    </value>

    <value name="reyes_patches_per_pass" type="size_t" default="64">
      Number of patches that get cached and are submitted as a 
      single rendering pass together.
    </value>

    <value name="bound_n_split_limit" type="size_t" default="100">
      Maximum size for patches before they can be sent to the dicing stage.
    </value>

    <value name="dice_group_width" type="size_t" default="32">
      Width of the work-group for the dicing kernel.
    </value>

    <value name="max_block_assignments" type="size_t" default="9">
      Maximum number of framebuffer tiles, a block can be assigned to.
    </value>

    <value name="subpixel_bits" type="size_t" default="8">
      Number of sub-one bits for fixed precision pixel coordinates.
    </value>

    <value name="clear_color" type="vec4" default="0.1 0.2 1.0 0.0">
      Clear color for framebuffer.
    </value>

    <value name="input_file" type="string" default="data/teapot">
      Patch data input file.
    </value>

    <value name="create_trace" type="bool" default="false">
      Create an OpenCL timing trace.
    </value>

    <value name="trace_file" type="string" default="reyes.trace">
      Target file for writing OpenCL trace to.
    </value>

    <value name="backface_culling" type="bool" default="true">
      Controls backface-culling.
    </value>

    <value name="flip_surface" type="bool" default="false">
      Flip surface order of patches while loading.
      This may be necessary for inverted models.
    </value>

    <value name="do_event_polling" type="bool" default="true">
      Controls how we wait for OpenCL events. Polling is slightly faster but uses more CPU cycles.
    </value>

    <value name="patch_buffer_count" type="int" default="3">
      Number of patch buffers used for transferring patch data to device.
    </value>

    <value name="patch_buffer_mode" type="PatchBufferMode" default="PINNED">
      Allocation method of patch buffers. Either PINNED or UNPINNED.
      PINNED should be a lot faster.
    </value>

  </values>

  <global name="config"/>

</config>